/* * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

header {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    margin: 0;
    height: auto;
    padding: 0;
    padding-right: 0;
    max-width: 100%;
}

.img_logo {
    width: 20%;
}

.var_center {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
    height: auto;
}

.btn_var {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search_var {
    /* float: right; */
}

.contenedorbajo {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    margin-right: 10px;
    width: 30%;
}

.enlace {
    position: absolute;
    padding: 5px 5px;
    margin-left: 5px;
}

.logo {
    border-radius: 45%;
    /* align-self: center; */
    height: 110px;
    width: 100%;
    box-shadow: 2px 2px 2px black, 0 0 5em #39ff14, 0 0 0.8em #39ff14;
    ;
    margin: 0;
    cursor: pointer;
}

.minivar {
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    height: 50%;
}

.minicard {
    /* margin-left: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.minicard>img {
    border: 1px solid red;
    border-radius: 50%;
    width: 75px;
}

.control {
    align-items: center;
    border-radius: 25%;
    border: 2px solid #39ff14;
    margin: 5px;
    font-size: 15px;
    text-align: center;
    /* line-height: 40px; */
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}

nav ul li button {
    background-color: black;
    color: #39ff14;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #39ff14;
}

li button.active,
li button:hover {
    background-color: #e89ac7;
    transition: .5s;
    color: black;
}

.checkbox {
    font-size: 30px;
    color: beige;
    float: left;
    line-height: 80px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 0;
        margin-left: 0;
    }
    .logo {
        display: flex;
        height: 100px;
        width: 100px;
        margin-left: auto;
    }
    .barcenter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 100px;
    }
    .container {
        width: 100vw;
        justify-content: space-around;
    }
    .contenedorbajo {}
    nav ul li button {
        font-size: 15px;
    }
    .menu-hamburguesa {
        display: none;
    }
}

@media (max-width: 768px) {
    .checkbox {
        display: block;
        margin-left: 20px;
    }
    .enlace {
        display: none;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #44281d;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 20px;
    }
    nav ul li button {
        font-size: 20px;
    }
    li button:hover,
    li button.active {
        background: red;
    }
    #check:checked~ul {
        left: 0;
    }
    .menu-hamburguesa {
        display: none;
        /* display: flex; */
        gap: 5px;
        flex-direction: column;
        background-color: black;
        min-width: 150px;
        min-height: 150px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 20px;
    }
    .menu-hamburguesa>button {
        max-width: 150px;
        min-width: 100px;
    }
    .search_var {
        margin-right: 60px;
    }
    .minicard>img {
        width: 50px;
    }
}


/* .contenedorbajo{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.paginacion{
    display: flex;
    align-self:  center;
    width: 500px;
    margin-left: 400px;

}


 */