* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    min-height: 120px;
    display: flex;
    align-items: center;
    /*background-color: brown;*/
    background: linear-gradient(brown, rgb(18, 50, 65));
}

path {
    width: 50px;
    height: 50px;
}

nav button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: #e89ac7;
    color: #44281d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

#logo {
    width: 90px;
    height: 90px;
    margin-left: 5px;
}

.form-control {
    height: 50px;
    border-radius: 30px;
    border: none;
}

.separador {
    height: 20px;
    background-color: #97ce4c;
}

main {
    background: linear-gradient(#97ce4c, #e89ac7);
    /*background-color: #97ce4c;*/
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 700px));
    grid-gap: 10px;
    justify-content: center;
}

.grid-item {
    background-color: #44281d;
    max-width: 650px;
    border-radius: 12px;
}

.tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 650px;
}

.tarjeta img {
    max-width: 400px;
    height: auto;
    border-top-left-radius: 12px;
}

.btnCompare {
    background-color: aqua;
    color: black;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 400px;
    height: 40px;
    border: none;
    border-bottom-left-radius: 12px;
    cursor: pointer;
}

.btnCompare:hover {
    box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 0.75);
}

.description {
    color: white;
    margin-left: 10px;
}

.description .name {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}

.description p {
    padding: 10px 0;
}

@media only screen and (max-width: 1200px) {
    .grid-item {
        margin: auto 30px;
        width: auto;
        height: auto;
    }
    .tarjeta {
        width: auto;
    }
}

@media only screen and (max-width: 689px) {
    .grid-item {
        margin: auto;
        max-width: 400px;
        height: auto;
    }
    .tarjeta {
        max-width: 100%;
    }
    .grid-item img {
        min-width: 200px;
        border-top-right-radius: 12px;
    }
    .container-btnCompare {
        max-width: 400px;
    }
    .btnCompare {
        max-width: 100%;
        border-bottom-right-radius: 12px;
    }
}

@media only screen and (max-width: 410px) {
    .grid-item {
        margin: auto;
        max-width: 90%;
        height: auto;
    }
    .tarjeta {
        max-width: 100%;
    }
    .grid-item img {
        min-width: 200px;
        border-top-right-radius: 12px;
    }
    .btnCompare {
        max-width: 100%;
        border-bottom-right-radius: 12px;
    }
}